<form #f="ngForm" (ngSubmit)="onSubmit(f.value,f)">
  <div class="container-fluid ">
    <div class="row">
      <div class="col-xs-6">
        <div class="wrapper ">

          <nav id="sidebar" class="column">
            <div class="sidebar-header">
              <h4>{{vehicle!=null?vehicle.Model:'No Data'}}</h4>
            </div>

            <li class="list-unstyled components">
              <div class="card-unstyled " id="list" #list>
                <h5 class="card-header" style="font-size:1.5vw;">Info:</h5>
                <div class="card-body">
                  <p class="card-text">

                    <li> <h5 style="font-size:1vw;">Manufacturer:</h5>
                      <ul><h5  style="font-size:1vw;">{{vehicle!=null?vehicle.Manufacturer:'No Data'}}</h5></ul>
                    </li>
                    <li><h5  style="font-size:1vw;">Year of Manufacturing:</h5>
                      <ul><h5  style="font-size:1vw;">{{vehicle!=null?vehicle.YearOfManufacturing:'No Data'}}</h5></ul>
                    </li>
                    <li> <h5  style="font-size:1vw;">Price per Hour:</h5>
                      <ul><h5  style="font-size:1vw;">{{vehicle!=null?vehicle.HourlyPrice:'No Data'}}</h5></ul>
                    </li>

                  </p>
                </div>
              </div>
              <ul class="list-unstyled components" style="padding-top:0px" #linkList id="linkList">
                <li>
                  <span class="border border-primary"><a href="#"  data-toggle="modal" data-target="#descriptionModal"
                      class="text-center" >View Description</a></span>
                </li>
          
              </ul>
            </li>
           
          </nav>
        </div>
      </div>
      <div class="col" id="main">
        <div class="row justify-content-md-center">
          <div class="col-lg-5 col-md-6 mb-4">
            <div class="card h-70" style="max-height: 50">
              <div class="card-header justify-content-md-center">
                <h5>Departure Office</h5>
              </div>
              <div class="card-body ">
                <div class="row  justify-content-md-center">

                  <div class="form-group">
                    <button type="button" cl id="dLabel" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      {{selectedDepartureOffice}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dLabel">

                      <a class="dropdown-item" *ngFor="let office of offices" (click)="GetSelectedDepartureOffice(office)">{{office.Address}}</a>
                    </div>

                  </div>
                  <div class="col col-xl-12">
                     
                    <agm-map *ngIf="departureOffice!=null" [latitude]="departureOffice.Latitude" [longitude]="departureOffice.Longitude" [zoom]="18">

                      <agm-marker [latitude]="departureOffice.Latitude" [longitude]="departureOffice.Longitude">
                        <agm-info-window [latitude]="departureOffice.centerLat" [longitude]="departureOffice.centerLong">
                          <div class="row justify-content-md-center">
                            <div class="col col-md-5">
                             
                              <span style="font-size: 16px;font-family:'Times New Roman'">{{departureOffice.Address}}</span>
                              <br/>
                              <img class="d-block w-50" style="width:50px; height:50px; margin-right: 0px" src='http://localhost:51680/api/office/getOfficePicture/?path={{departureOffice.Picture }}'
                                alt="">
                            </div>
                          </div>
                        </agm-info-window>
                      </agm-marker>
                    </agm-map>
                 
                </div>
                </div>
              </div>

              <div class="card-footer">
                <div class="form-group row justify-content-md-center">


                      <label for="departureDateInput" class="col-sm-4 col-form-label ">Departure</label>
                      <div class="col-sm-6">
                        <div class="input-group">
                          <input type="text" [bsConfig]="bsConfigDeparture" (bsValueChange)="departureDatePicked($event)" placement="right" placeholder="Datepicker" 
                            id="departureDateInput" class="form-control" bsDatepicker>

                        </div>
                      </div>
                    



                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-5 col-md-6 mb-4">
            <div class="card h-70" style="max-height: 50">
              <div class="card-header justify-content-md-center">
                <h5>Return Office</h5>
              </div>
              <div class="card-body ">
                <div class="row  justify-content-md-center">
                  <div class="form-group">
                    <button type="button" cl id="dLabel" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">
                      {{selectedReturnOffice}}
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dLabel">

                      <a class="dropdown-item" *ngFor="let office of offices" (click)="GetSelectedReturnOffice(office)">{{office.Address}}</a>
                    </div>

                  </div>
                  <div class="col col-xl-12">

                    <agm-map *ngIf="returnOffice!=null" [latitude]="returnOffice.Latitude" [longitude]="returnOffice.Longitude" [zoom]="18">

                      <agm-marker [latitude]="returnOffice.Latitude" [longitude]="returnOffice.Longitude">
                      </agm-marker>
                    </agm-map>
                  </div>
                </div>
              </div>
              <div class="card-footer">

                <div class="form-group row justify-content-md-center">

                

                 
                      <label for="returnDateInput" class="col-sm-4 col-form-label ">Return</label>
                      <div class="col-sm-6">
                        <div class="input-group">
                          <input type="text" [bsConfig]="bsConfigReturn" (bsValueChange)="returnDatePicked($event)" placement="left" placeholder="Datepicker" 
                            id="returnDateInput" class="form-control" bsDatepicker>
                        </div>
                      </div>
                    

                </div>
              </div>
            </div>



          </div>
        </div>

        <div class="row justify-content-md-center">

          <div class="col">
            <div class="row justify-content-md-center">
              <p class="font-weight-normal" *ngIf="isDepartureDateBad!=true && isReturnDateBad!=true && showDangerErrorMessage!=true">Price: {{calcPrice | currency:'USD':true:'1.2-2'}}</p>
            </div>
            <div class="row justify-content-md-center">
              <div class="loader" *ngIf="btnHidden"></div>
              <button type="submit" class="btn btn-success" *ngIf="!btnHidden" [disabled]="!f.valid || isDepartureDateBad==true || isReturnDateBad==true || btnDisabled==true">Rent</button>
            </div>

            <div class="row justify-content-md-center">
              <p class="text-warning" *ngIf="isDepartureDateBad==true || isReturnDateBad==true ">{{errMessage}}</p>
              <p class="text-danger" *ngIf="showDangerErrorMessage">{{dangerErrMessage}}</p>
            </div>
          </div>
        </div>

      </div>


    </div>
  </div>

</form>



<!--description view-->
<div class="modal fade" id="descriptionModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Vehicle Description</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      
          <p>{{vehicle!=null?vehicle.Description:'No Data'}}</p>
        
      </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>