<div class="row">
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{rentServices[0].Name}}</a>
        </h4>
        <p class="card-text">{{rentServices[0].Description}}</p>
      </div>
      <div class="card-footer">
          <pre>Rate: <b>{{rentServices[0].Grade}}</b></pre>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{rentServices[1].Name}}</a>
        </h4>
        <p class="card-text">{{rentServices[1].Description}}</p>
      </div>
      <div class="card-footer">
          <pre>Rate: <b>{{rentServices[1].Grade}}</b></pre>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{rentServices[2].Name}}</a>
        </h4>
        <p class="card-text">{{rentServices[2].Description}}</p>
      </div>
      <div class="card-footer">
          <pre>Rate: <b>{{rentServices[2].Grade}}</b></pre>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{rentServices[3].Name}}</a>
        </h4>
        <p class="card-text">{{rentServices[3].Description}}</p>
      </div>
      <div class="card-footer">
          <pre>Rate: <b>{{rentServices[3].Grade}}</b></pre>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{Name5}}</a>
        </h4>
        <p class="card-text">{{rentServices[4].Description}}</p>
      </div>
      <div class="card-footer">
          <pre>Rate: <b>{{rentServices[4].Grade}}</b></pre>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="http://placehold.it/700x400" alt=""></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="#">{{Name6}}</a>
        </h4>
        <p class="card-text">{{rentServices[5].Description}}</p>
      </div>
      <div class="card-footer">
          <pre>Rate: <b>{{rentServices[5].Grade}}</b></pre>
      </div>
    </div>
  </div>
  </div>
