<div class="container-fluid  ">
  <form class="needs-validation pt-3"  [formGroup]="editForm" #f="ngForm" (ngSubmit)="onSubmit(f.value)" novalidate>

    <div class="form-group row pt-3 justify-content-md-center">
      <label for="fullNameInput" class="col-sm-2 col-form-label ">Full name</label>
      <div class="col-sm-3">
        <input type="text" name="FullName" formControlName="FullName" [(ngModel)]="userData.FullName" class="form-control  is-valid" id="fullNameInput" [ngClass]="{
            'is-valid':FullName.valid && (FullName.dirty || FullName.touched),
            'is-invalid':FullName.invalid && (FullName.dirty || FullName.touched)
          }">
        <div class="invalid-feedback" *ngIf="FullName.errors && (FullName.dirty || FullName.touched)">
          <p *ngIf="FullName.errors.required">Name is required</p>
          <p *ngIf="FullName.errors.maxlength">FullName is too long, delete {{FullName.errors.maxlength.actualLength
              - FullName.errors.maxlength.requiredLength}} characters </p>
        </div>
      </div>
    </div>

    <div class="form-group row pt-3 justify-content-md-center">
      <label for="emailInput" class="col-sm-2 col-form-label ">Email</label>
      <div class="col-sm-3">
        <input type="email" name="Email" formControlName="Email" class="form-control" [(ngModel)]="userData.Email" id="emailInput" placeholder="Email" [ngClass]="{
            'is-valid':Email.valid && (Email.dirty || Email.touched),
            'is-invalid':Email.invalid && (Email.dirty || Email.touched)
          }">
        <div class="invalid-feedback" *ngIf="Email.errors && (Email.dirty || Email.touched)">
          <p *ngIf="Email.errors.required">Email is required</p>
          <p *ngIf="Email.errors.pattern">Email format in not correct</p>
        </div>
      </div>
    </div>



    <div class="form-group row pt-3 justify-content-md-center">
      <label for="birthDateInput" class="col-sm-2 col-form-label ">Birthday</label>
      <div class="col-sm-3">
        <div class="input-group">
          <input type="text" [bsConfig]="bsConfig" placement="right" placeholder="Datepicker" [(ngModel)]="userData.BirthDate" formControlName="BirthDate" id="birthDateInput"
            class="form-control" bsDatepicker [ngClass]="{
                    'is-valid':BirthDate.valid && (BirthDate.dirty || BirthDate.touched),
                    'is-invalid':BirthDate.invalid && (BirthDate.dirty || BirthDate.touched)
                  }">
          <div class="invalid-feedback" *ngIf="BirthDate.errors && (BirthDate.dirty || BirthDate.touched)">
            <p *ngIf="BirthDate.errors.required">Birthday is required</p>


          </div>

        </div>
      </div>


    </div>
    <div class="form-group row pt-3 justify-content-md-center">
      <div *ngIf="(userData!=null && userData.DocumentPicture==null) || (userData.Activated==false && userData.ProfileEdited==false)" class="row">
        <div class="col col-lg-4 col-lg-push-4">
          <img [src]="imageUrl" style="width:250px; height:150px">
          <br>
          <br>
          <input type="file" (change)="handleFileInput($event.target.files)" name="DocumentPicture"
            #DocumentPicture accept="image/*">

          <br>
        </div>
      </div>
    </div>
   
    <div class="form-group row pt-3 justify-content-md-center">
      <button class="btn btn-primary justify-content-md-center" [disabled]="!f.valid" type="submit">Edit</button>
    </div>
  </form>
</div>