<!-- <button type="button" (click)="Info()">Info</button> -->
<!-- 
      <div class="wrapper">
          <aside  *ngFor="let message of messages">
            <div class="alert" role="alert"
        
                 [ngClass]="{'alert-info':     message.style=='info',
                             'alert-danger':   message.style=='danger',
                             'alert-success':  message.style=='success'}">
        
                             <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                              </button>
              {{message.content}}
            </div>
        
          </aside>
        </div>

        
<div class="container text-center">


    <br/>

        <h2>Bootstrap - notification popup box using bootstrap-growl JS Plugin</h2>

    <br/>


    <button class="success btn btn-success">Success</button>

    <button class="error btn btn-danger">Error</button>

    <button class="info btn btn-info">Info</button>

    <button class="warning btn btn-warning">Warning</button>


</div>  


<script type="text/javascript">


    $(".success").click(function(){

        $.bootstrapGrowl('We do have the Kapua suite available.',{

            type: 'success',

            delay: 2000,

        });

    });


    $(".error").click(function(){

        $.bootstrapGrowl('You Got Error',{

            type: 'danger',

            delay: 2000,

        });

    });


    $(".info").click(function(){

        $.bootstrapGrowl('It is for your kind information',{

            type: 'info',

            delay: 2000,

        });

    });


    $(".warning").click(function(){

        $.bootstrapGrowl('It is for your kind warning',{

            type: 'warning',

            delay: 2000,

        });

    });

</script> -->