<form class="needs-validation pt-3 " #f="ngForm" (ngSubmit)="onSubmitPassword(f.value)">
  <div class="form-group row pt-3 justify-content-md-center">
    <label for="OldPassword" class="col-sm-2 col-form-label ">Old Password</label>
    <div class="col-sm-3">
      <input type="password" name="OldPassword" ngModel #OldPassword="ngModel" class="form-control " id="OldPassword" placeholder="Old Password"
        pattern="(?=.*\d)(?=.*[!@#$%^*/\._?])(?=.*[a-z])(?=.*[A-Z]).{6,}">

      <div *ngIf="OldPassword.errors && (OldPassword.dirty || OldPassword.touched)" class="alert alert-danger">
        <div [hidden]="!OldPassword.errors.required">
          Password is required!
        </div>
        <div [hidden]="!OldPassword.errors.pattern">
          Password must contain at least one upper case, number and special character (!@#$...). Length must be 6 charachters at least.
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row pt-3 justify-content-md-center">
    <label for="NewPassword" class="col-sm-2 col-form-label ">New Password</label>
    <div class="col-sm-3">
      <input type="password" name="NewPassword" ngModel required class="form-control " id="NewPassword" placeholder="New Password"
        #NewPassword="ngModel" pattern="(?=.*\d)(?=.*[!@#$%^*/\._?])(?=.*[a-z])(?=.*[A-Z]).{6,}">

      <div *ngIf="NewPassword.errors && (NewPassword.dirty || NewPassword.touched)" class="alert alert-danger">
        <div [hidden]="!NewPassword.errors.required">
          Password is required!
        </div>
        <div [hidden]="!NewPassword.errors.pattern">
          Password must contain at least one upper case, number and special character (!@#$...). Length must be 6 charachters at least.
        </div>
      </div>
    </div>
  </div>



  <div class="form-group row pt-3 justify-content-md-center">
    <label for="ConfirmPassword" class="col-sm-2 col-form-label ">Repeat Password</label>
    <div class="col-sm-3">
      <input type="password" name="ConfirmPassword" ngModel required class="form-control " id="ConfirmPassword" placeholder="Confirm Password"
        #ConfirmPassword="ngModel">
      <div *ngIf="(ConfirmPassword.dirty || ConfirmPassword.touched)" class="alert alert-danger">
        <div [hidden]="NewPassword.value == ConfirmPassword.value">
          <p id="errPasswordMatch">Passwords don't match</p>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group row pt-3 justify-content-md-center">
    <button class="btn btn-primary justify-content-md-center" [disabled]="!f.valid" type="submit">Edit Password</button>
  </div>

</form>