<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="wrapper ">

        <nav id="sidebar">
          <!-- Sidebar Header -->
          <div class="sidebar-header">
            <h3>Rent Services</h3>
          </div>

          <!-- Sidebar Links -->
          <ul class="list-unstyled components">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>

            <li>
              <!-- Link with dropdown items -->
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  <a href="#">Page</a>
                </li>
                <li>
                  <a href="#">Page</a>
                </li>
                <li>
                  <a href="#">Page</a>
                </li>
              </ul>

              <li>
                <a href="#">Portfolio</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
          </ul>
        </nav>

      </div>
    </div>
    <div class="col-xl-9">
      <div class="row">
        <div #processContainer> </div>
        <!-- <div class="jumbotron" style="width: 600px;">
        <div class="container">
          <h1 class="display-5">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div> -->

        <!-- <div class="card border-primary mb-3" style="max-width: 18rem;">
        <div class="card-header">All Renting Services</div>
        <div class="card-body text-primary">
          <h5 class="card-title">Primary card title</h5>

          <div class="container">
            <div class="dropdown">
              <button class="btn btn-default dropdown-toggle" type="button" id="menu1" data-toggle="dropdown">Tutorials
                <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#">HTML</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#">CSS</a>
                </li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#">JavaScript</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="#">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div> -->
      </div>
    </div>
  </div>
</div>