<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="wrapper ">

        <nav id="sidebar">
          <!-- Sidebar Header -->
          <div class="sidebar-header">
            <h3>Rent Services</h3>
          </div>

          <!-- Sidebar Links -->
          <ul class="list-unstyled components">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>

            <li>
              <!-- Link with dropdown items -->
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  <a href="#">Page</a>
                </li>
                <li>
                  <a href="#">Page</a>
                </li>
                <li>
                  <a href="#">Page</a>
                </li>
              </ul>

              <li>
                <a href="#">Portfolio</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
          </ul>
        </nav>

      </div>
    </div>
    <div class="col">
      <div class="jumbotron ">
        <div class="container">
          <h1 class="display-5">Fluid jumbotron</h1>
          <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
      </div>
    </div>
  </div>
</div>