<div class="container">
  <div class="row">
    <div class="col-xs-6">
      <div class="wrapper ">

        <nav id="sidebar">
          <!-- Sidebar Header -->
          <div class="sidebar-header">
            <h3>Rent Services</h3>
          </div>

          <!-- Sidebar Links -->
          <ul class="list-unstyled components">
            <li class="active">
              <a href="#">Home</a>
            </li>
            <li>
              <a href="#">About</a>
            </li>

            
              <!-- Link with dropdown items -->
              <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
              <ul class="collapse list-unstyled" id="homeSubmenu">
                <li>
                  <a href="#">Page</a>
                </li>
                <li>
                  <a href="#">Page</a>
                </li>
                <li>
                  <a href="#">Page</a>
                </li>
              </ul>

              <li>
                <a href="#">Portfolio</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
            
          </ul>
        </nav>

      </div>
    </div>
    <div class="col-xl-9">
      <h4>
        <small>Available Rent Services</small>
      </h4>
      <hr>
      <!-- <app-cards #cards (sendServiceId)="getVehicles($event)" [isUser]="true"></app-cards> -->
      <app-cards #cards [isUser]="true"></app-cards>
      <div class="row">
        <div #processContainer> </div>
      </div>

      <app-pager [page]="pageNumber" [totalPages]="totalPagesNumber" (changePage)="page=$event"></app-pager>
    </div>
  </div>
</div>