<!-- Navigation -->
<div class=main_body>
  <app-navbar></app-navbar>

  <div class="container" style="min-height: 91vh">
    <div class="row">
      <div class="col-lg-15">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

  <footer class="navbar navbar-default  navbar-dark bg-dark navbar-bottom" >
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
  </footer>
  
<!--   <nav class="navbar navbar-default  navbar-dark bg-dark navbar-bottom" role="navigation">
    <div class="container">
      <h1>Hello World</h1>
    </div>
  </nav> -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>