<!-- Navigation -->
<div class=main_body>
  <app-navbar></app-navbar>




  <div class="container" id="con">
    <div class="row mb-4">
      <div class="col-lg justify-content-md-center">
        <router-outlet ></router-outlet>
      </div>
    </div>
  </div>

  <app-bottom-navbar></app-bottom-navbar>

  <!--   <nav class="navbar navbar-default  navbar-dark bg-dark navbar-bottom" role="navigation">
    <div class="container">
      <h1>Hello World</h1>
    </div>
  </nav> -->

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
</div>