<div class="row">
    <div class="col-lg-4 col-md-6 mb-4" *ngIf="isVisible[0]">
      <div class="card h-100">
        <a href="#">
          <img class="card-img-top" src="http://placehold.it/700x400" alt="">
        </a>
        <div class="card-body">
          <h4 class="card-title">
            <a href="#" [routerLink]="['/vehiclePage/rentServices[0].rentServiceId']">{{vehicles[0].Model}}</a>
          </h4>
          <p class="card-text">{{vehicles[0].Description}}</p>
        </div>
        <div class="card-footer">
            <pre>Manufactured: <b>{{vehicles[0].YearOfManufacturing}}</b></pre>
          <pre>Available: <b>{{vehicles[0].Available}}</b></pre>
        </div>
      </div>
    </div>
  
    <div class="col-lg-4 col-md-6 mb-4" *ngIf="isVisible[1]">
        <div class="card h-100">
          <a href="#">
            <img class="card-img-top" src="http://placehold.it/700x400" alt="">
          </a>
          <div class="card-body">
            <h4 class="card-title">
              <a href="#" [routerLink]="['/vehiclePage/rentServices[0].rentServiceId']">{{vehicles[1].Model}}</a>
            </h4>
            <p class="card-text">{{vehicles[1].Description}}</p>
          </div>
          <div class="card-footer">
              <pre>Manufactured: <b>{{vehicles[1].YearOfManufacturing}}</b></pre>
              <pre>Available: <b>{{vehicles[1].Available}}</b></pre>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 mb-4" *ngIf="isVisible[2]">
          <div class="card h-100">
            <a href="#">
              <img class="card-img-top" src="http://placehold.it/700x400" alt="">
            </a>
            <div class="card-body">
              <h4 class="card-title">
                <a href="#" [routerLink]="['/vehiclePage/rentServices[0].rentServiceId']">{{vehicles[2].Model}}</a>
              </h4>
              <p class="card-text">{{vehicles[2].Description}}</p>
            </div>
            <div class="card-footer">
                <pre>Manufactured: <b>{{vehicles[2].YearOfManufacturing}}</b></pre>
                <pre>Available: <b>{{vehicles[2].Available}}</b></pre>
            </div>
          </div>
        </div>
  
        <div class="col-lg-4 col-md-6 mb-4" *ngIf="isVisible[3]">
            <div class="card h-100">
              <a href="#">
                <img class="card-img-top" src="http://placehold.it/700x400" alt="">
              </a>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#" [routerLink]="['/vehiclePage/rentServices[0].rentServiceId']">{{vehicles[3].Model}}</a>
                </h4>
                <p class="card-text">{{vehicles[3].Description}}</p>
              </div>
              <div class="card-footer">
                  <pre>Manufactured: <b>{{vehicles[3].YearOfManufacturing}}</b></pre>
                  <pre>Available: <b>{{vehicles[3].Available}}</b></pre>
              </div>
            </div>
          </div>
  
          <div class="col-lg-4 col-md-6 mb-4" *ngIf="isVisible[4]">
              <div class="card h-100">
                <a href="#">
                  <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                </a>
                <div class="card-body">
                  <h4 class="card-title">
                    <a href="#" [routerLink]="['/vehiclePage/rentServices[0].rentServiceId']">{{vehicles[4].Model}}</a>
                  </h4>
                  <p class="card-text">{{vehicles[4].Description}}</p>
                </div>
                <div class="card-footer">
                    <pre>Manufactured: <b>{{vehicles[4].YearOfManufacturing}}</b></pre>
                    <pre>Available: <b>{{vehicles[4].Available}}</b></pre>
                </div>
              </div>
            </div>
  
            <div class="col-lg-4 col-md-6 mb-4" *ngIf="isVisible[5]">
                <div class="card h-100">
                  <a href="#">
                    <img class="card-img-top" src="http://placehold.it/700x400" alt="">
                  </a>
                  <div class="card-body">
                    <h4 class="card-title">
                      <a href="#" [routerLink]="['/vehiclePage/rentServices[0].rentServiceId']">{{vehicles[5].Model}}</a>
                    </h4>
                    <p class="card-text">{{vehicles[5].Description}}</p>
                  </div>
                  <div class="card-footer">
                      <pre>Manufactured: <b>{{vehicles[5].YearOfManufacturing}}</b></pre>
                      <pre>Available: <b>{{vehicles[5].Available}}</b></pre>
                  </div>
                </div>
              </div>