<form action="#">
        <div class="form-title">
            <i class="fa fa-globe"></i>
            <h2>Search for Cheap Rental Cars Wherever Your Are</h2>
        </div>

        <div class="form-row">
            <!--div class="container-fluid"-->
                <div class="form-group col-sm-7">
                    <div class=" has-icon has-label">
                        <label for="formSearchUpLocation3">Picking Up Location</label>
                        <input class="form-control" id="formSearchUpLocation3" placeholder="Airport or Anywhere" type="text">
                        <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                    </div>
                </div>
                <div class="form-group col-sm-3">
                      <div class="form-group has-icon has-label">
                          <label for="formSearchUpDate3">Picking Up Date</label>
                          <input class="form-control" id="formSearchUpDate3" placeholder="dd/mm/yyyy" type="text">
                          <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                      </div>
                  </div>
                  <!-- <div class="col-sm-1">
                        <div class="form-group has-icon has-label selectpicker-wrapper">
                            <label>Picking Up Hour</label>
                            <select class="selectpicker input-price" data-live-search="true" data-width="100%" data-toggle="tooltip" title="Select" style="display: none;">
                                <option>20:00 AM</option>
                                <option>21:00 AM</option>
                                <option>22:00 AM</option>
                            </select><div class="btn-group bootstrap-select input-price" style="width: 100%;"><button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="20:00"><span class="filter-option pull-left">20:00</span>&nbsp;<span class="caret"></span></button><div class="dropdown-menu open"><div class="bs-searchbox"><input class="input-block-level form-control" autocomplete="off" type="text"></div>
                            <ul class="dropdown-menu inner selectpicker" role="menu">
                                <li data-original-index="0" class="selected">
                                    <a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>20:00 AM</span>">
                                        <span class="text">20:00 AM</span><span class="glyphicon glyphicon-ok check-mark">

                                        </span></a></li>
                                        <li data-original-index="1">
                                            <a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>21:00 AM</span>">
                                                <span class="text">21:00 AM</span>
                                                <span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                <li data-original-index="2"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>22:00 AM</span>">
                                                    <span class="text">22:00 AM</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
                                                    <div class="btn-group bootstrap-select input-price" style="width: 100%;">
                                                        <button type="button" class="btn dropdown-toggle selectpicker btn-default" data-toggle="dropdown" title="20:00 AM">
                                                            <span class="filter-option pull-left">20:00 AM</span>&nbsp;<span class="caret"></span></button>
                                                            <div class="dropdown-menu open"><div class="bs-searchbox"><input class="input-block-level form-control" autocomplete="off" type="text"></div>
                                                            <ul class="dropdown-menu inner selectpicker" role="menu">
                                                                <li data-original-index="0" class="selected"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>20:00 AM</span>">
                                                                    <span class="text">20:00 AM</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                                    <li data-original-index="1"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>21:00 AM</span>">
                                                                        <span class="text">21:00 AM</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li>
                                                                        <li data-original-index="2"><a tabindex="0" class="" data-normalized-text="<span class=&quot;text&quot;>22:00 AM</span>">
                                                                            <span class="text">22:00 AM</span><span class="glyphicon glyphicon-ok check-mark"></span></a></li></ul></div></div>
                            <span class="form-control-icon"><i class="fa fa-clock-o"></i></span>
                        </div> 
                    </div-->
      
        </div>
        <div class="form-row">
        <div class="form-group col-sm-7">
                <div class=" has-icon has-label">
                    <label for="formSearchOffLocation3">Dropping Off Location</label>
                    <input class="form-control" id="formSearchOffLocation3" placeholder="Airport or Anywhere" type="text">
                    <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                </div>
            </div>
            <div class="col-sm-3">
                    <div class="form-group has-icon has-label">
                        <label for="formSearchOffDate3">Dropping Off Date</label>
                        <input class="form-control" id="formSearchOffDate3" placeholder="dd/mm/yyyy" type="text">
                        <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                    </div>
                </div>
            </div>
        </form>
<!-- <div class="container full-width">

  <div class="main-slider">
      <div class="owl-carousel owl-theme owl-loaded" id="main-slider"> -->

          <!-- Slide 1 -->
          
          <!-- /Slide 1 -->

          <!-- Slide 2 -->
          
          <!-- /Slide 2 -->

          <!-- Slide 3 -->
          
          <!-- /Slide 3 -->

          <!-- Slide 4 -->
          
          <!-- /Slide 4 -->

       <!-- <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-2698px, 0px, 0px); transition: all 0.25s ease 0s; width: 10792px;"><div class="owl-item cloned" style="width: 1349px; margin-right: 0px;"><div class="item slide3 ver3">
             
                    <div class="item"> -->
              
                                  <!-- Search form -->
                                 <!--  <div class="form" light>
                                      <form action="#">
                                          <div class="form-title">
                                              <i class="fa fa-globe"></i>
                                              <h2>Search for Cheap Rental Cars Wherever Your Are</h2>
                                          </div>

                                          <div class="form-row"> -->
                                              <!--div class="container-fluid"-->
                                                <!--   <div class="form-group col-sm-12">
                                                      <div class=" has-icon has-label">
                                                          <label for="formSearchUpLocation3">Picking Up Location</label>
                                                          <input class="form-control" id="formSearchUpLocation3" placeholder="Airport or Anywhere" type="text">
                                                          <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                                      </div>
                                                  </div>
                                                  <div class="form-group col-sm-7">
                                                        <div class="form-group has-icon has-label">
                                                            <label for="formSearchUpDate3">Picking Up Date</label>
                                                            <input class="form-control" id="formSearchUpDate3" placeholder="dd/mm/yyyy" type="text">
                                                            <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                        </div>
                                                    </div> -->
                                                  <!-- <div class="form-group col-sm-12">
                                                      <div class=" has-icon has-label">
                                                          <label for="formSearchOffLocation3">Dropping Off Location</label>
                                                          <input class="form-control" id="formSearchOffLocation3" placeholder="Airport or Anywhere" type="text">
                                                          <span class="form-control-icon"><i class="fa fa-map-marker"></i></span>
                                                      </div>
                                                  </div> -->
                                              <!--/div-->
                                       <!--    </div>

                                          <div class="row row-inputs"> -->
                                              <!--div class="container-fluid"-->
                                                  <!-- <div class="col-sm-7">
                                                      <div class="form-group has-icon has-label">
                                                          <label for="formSearchUpDate3">Picking Up Date</label>
                                                          <input class="form-control" id="formSearchUpDate3" placeholder="dd/mm/yyyy" type="text">
                                                          <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                      </div>
                                                  </div> -->
                                                  
                                              <!--/div-->
                                         <!--  </div>

                                          <div class="row row-inputs"> -->
                                              <!--div class="container-fluid"-->
                                                  <!-- <div class="col-sm-7">
                                                      <div class="form-group has-icon has-label">
                                                          <label for="formSearchOffDate3">Dropping Off Date</label>
                                                          <input class="form-control" id="formSearchOffDate3" placeholder="dd/mm/yyyy" type="text">
                                                          <span class="form-control-icon"><i class="fa fa-calendar"></i></span>
                                                      </div>
                                                  </div> -->
                                                  
                                              <!--/div-->
                                          <!-- </div>

                                          <div class="row row-submit"> -->
                                              <!--div class="container-fluid"-->
                                                <!--   <div class="inner">
                                                      <i class="fa fa-plus-circle"></i> <a href="#">Advanced Search</a>
                                                      <button type="submit" id="formSearchSubmit3" class="btn btn-submit ripple-effect btn-theme pull-right">Find Car</button>
                                                  </div> -->
                                              <!--/div-->
                                        <!--   </div>
                                      </form>
                                  </div> -->
                                  <!-- /Search form -->

                                  <!-- <h2 class="caption-title">For rental Cars</h2>
                                  <h3 class="caption-subtitle">Best Deals</h3>
                                  <p class="caption-text">
                                      Sales Up  %45 Off<br>
                                      All Rental Cars Start from  49$
                                  </p> -->
                            
      <!--   </div>
          </div> </div>
        </div>
    </div> -->